body{
    background-color: #FFF0E5;
}

@font-face {
    font-family: "apercu";
    src: url("./media/Rosario-VariableFont_wght.ttf");
}

select{
    display: block;
    border-color: transparent;
    background-color: transparent;
    outline: none;
    border: none;
    width: 100px;
    font-family: apercu;
    font-weight: 400;
    font-size: 16px;
    color: #828285;
    
    
}
option{
    display: block;
    border-color: transparent;
    background-color: #FFF0E5;
    height: 30px;  
    font-family: apercu;
    font-weight: 400;
    font-size: 16px;
    color: #828285;

}



.Navbar{
    width:100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Navbar_Container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}
.Navbar_Item_List{
    display: flex;
    flex-direction: row;
    

}
.Nav_Item{
    display: flex;
    margin-left:10px ;
    font-family: apercu;
    font-weight: 400;
    font-size: 16px;
    color: #828285;
}

select:hover,.Nav_Item:hover{
    color: #3a10e5;
    cursor: pointer;
}
.Navbar_Logo_Container{
    width: 150px;
    cursor: pointer;
   

}
.Navbar_Search_Container{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.Navbar_Login_Link{
    color: #3a10e5;
    font-family: apercu;
    font-weight: 700;
    font-size: 16px;
    margin-inline-start: 50px;
    cursor: pointer;

}
.Navbar_Search_And_Login_Wrapper{
    display: inline-flex;
}

.Image_Container{

    height: 480px;
    width: 420px;

}
.Form_Container{
    height: 500px;
    width: 420px;
    

}

section >.Login_Section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form_Header_Quote{
    color:#10162f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 26px;

}
.Container_Wrraper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
}
label{
    color: #10162f;
    font-family: apercu;
    font-weight: 400;
    font-size: 16px
    
}
.Form_Email_Input_Container > input,.Form_Password_Input_Container > input{
    height: 40px;
    width: 350px;
    margin-top: 10px;
}
.Form_SignUp_Btn{
    height: 40px;
    width: 90px;
    outline: none;
    border-color: transparent;
    border-radius: 3px;
    background-color: #3a10e5;
    font-family: apercu;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;

}
.Form_Terms_And_Contions{

    color: #424242;
    font-family: apercu;
    font-size: 16px;
    font-weight: 400;

}
.Form_Social_Sign_In_Label{

    color: #10162f;
    font-family: apercu;
    font-size: 16px;
    font-weight: 700;


}

.Form_Social_Link_Container{
    display: flex;
    flex-flow: row;
}
.Form_Social_Link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 55px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    margin-right: 10px;

}


