.Item_Container{
    display: flex;
    flex-flow: column;
    height: 320px;
    width: 230px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    


}
.Item_Add_Cart_Button{
    display: flex;
    width: 180px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: linear-gradient(0deg,#22d738,#a8f148);
    background-image: linear-gradient(0deg, rgb(34, 215, 56), rgb(168, 241, 72));
    box-shadow: 0 11px 26px 0 rgb(36 216 56 / 34%);
    text-shadow: 0 2px 5px #3ccd1e;
   
    color: #fff;
    justify-content: center;
}
.Item_Image{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid transparent;
    border-radius: 5px;

}
.Item_Title{
    font-size: 10px;
    text-align: center;
    font-weight: 400;
    color:#000;
    
}
.Item_Price{
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    color: #068d33;
    

}
.Item_Star_Icon{
    height: 20px;
    width: 20px;
}
.Item_Star_Icon,Item_Star_Icon,Item_Star_Icon{
    cursor: pointer;
}